{% extends 'base.html.twig' %}

{% block title %}Accueil - EcoRide{% endblock %}

{% block body %}
    <h1 class="text-center">Bienvenue sur EcoRide !</h1>
    <p class="text-center">Une plateforme de covoiturage écologique.</p>
{% endblock %}
