{% extends 'base.html.twig' %}

{% block title %}Accueil - EcoRide{% endblock %}

{% block body %}
    <h1 class="text-primary">Bienvenue sur EcoRide !</h1>
    <p>Une plateforme de covoiturage écologique.</p>
{% endblock %}
