{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container mt-5 text-light">
        <h1>📬 Contactez-nous</h1>
        <p>Pour toute question ou suggestion, vous pouvez nous écrire à : <a href="mailto:contact@ecoride.fr">contact@ecoride.fr</a></p>
        <p>Nous vous répondrons dans les plus brefs délais.</p>
    </div>
{% endblock %}
